.sidebar {
    /* rounded edge box */
    border-radius: 4px;
    border: 2px solid #144C42;
    padding: 10px 20px;
    background-color: #FFFFFF;
}

.corrections_header {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 23px;
    padding-bottom: 0px;
    color: #3b3b3b;
}

.corrections_label {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 16px;
    color: #3b3b3b;
}

.box_input {
    width: 100px;
    height: 15px;
    padding: 10px 15px;
    border-color: #217F6E;
    border-radius: 4px;
    display: block;
    font-size: 16px;
}

.finish_button {
    width: 100px;
    padding: 10px 15px;
    background-color: #217F6E;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
    font-family: "Montserrat";
    display: block;
}

.finish_button:hover {
    background-color: #144C42;
}

.bottom_button {
    background-color: #217F6E;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Montserrat";
}
