p {
    /*font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;*/
    font-size: 20px;
    padding-top: 6px;
    color: #3b3b3b;
}

h1 {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    color: #217F6E;
    font-size: 60px;
    margin-bottom: 2px;
}

body {
    background-color: #D9EFEB;
}

.hidden {
    display: none;
}
