.container {
            max-width: 500px;
            padding-top: 20px;
}

/* remove margins and padding from list, add background color */
ul.topnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* float list items side by side */
ul.topnavbar li {
    float: left;
}

/* links inside list items */
ul.topnavbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* change background color when mouse hovers over */
ul.topnavbar li a:hover {
    background-color: #555;
}

/* remove margins and padding from list, add background color */
ul.botnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    bottom: 0px;
}

/* float list items side by side */
ul.botnavbar li {
    float: left;
}

/* links inside list items */
ul.botnavbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* change background color when mouse hovers over */
ul.botnavbar li a:hover {
    background-color: #555;
}

