/************************************************************/
/* HOME SCREEN */


/*corrections panel*/
.sidebar {
    /* rounded edge box */
    border-radius: 4px;
    border: 2px solid #144C42;
    width: 300px;
    background-color: #FFFFFF;
}

.h2-corrections {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 0px;
    color: #3b3b3b;
}

.tab {
    border-radius: 4px;
    border: 2px solid #144C42;
    width: 250px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.tab-links {
    border: 2px solid #144C42;
    border-radius: 4px;
    padding: 5px;
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    /*width: 60px;*/
}

.corrections-content-1 {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 0px 20px 10px 20px;
    color: #3b3b3b;
}

.corrections-content-2 {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    color: #3b3b3b;
}

.box-id {
    width: 120px;
    margin: 0 auto;
    padding: 5px;
    border-color: #217F6E;
    border-radius: 4px;
    display: block;
    height: 15px;
    font-size: 16px;
}

.finish-button {
    background-color: #217F6E;
    color: white;
    border: none;
    padding: 15px 70px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: "Montserrat";
    display: block;
}

.finish-button:hover {
    background-color: #144C42;
}

/* video navigation buttons style */
button.vid-nav {
    background-color: white;
    color: #3b3b3b;
    border: 2px solid #144c42;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: "Montserrat";
    display: inline-block;
    width: 113px;
}

.video-controls {
    width: 640px;
}

.container-home {
    width: 720px;
    text-align: center;
    margin: auto;
    display: block;
}

.scrubber {
    width: 720px;
    margin: auto;
    display: block;
}

body.home {
    background-color: #D9EFEB;
}

/* frame input */
.frame {
    width: 60%;
    margin: 5px;
    padding: 10px;
    border-color: #217F6E;
    border-radius: 4px;
    display: block;
    position: relative;
    float: left;
    height: 25px;
    font-size: 16px;
}

/* find frame button */
button.seek-frame {
    background-color: white;
    color: #3b3b3b;
    border: 2px solid #144C42;
    padding: 13px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    width: 31%;
    display: inline-block;
}

.frameFinder {
    display: inline;
}

form.home {
    display: inline;
}

/* download data file and change video buttons */
.bottom-buttons {
    background-color: #217F6E;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Montserrat";
}

h2.h2-home {
    margin-bottom: auto;
}


/* FOR INDEX.HTML */

/* "biotracker" */
h1 {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    color: #217F6E;
    font-size: 60px;
    margin-bottom: 2px;
}

/* analyzing movement patterns */
h2 {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
    color: #3b3b3b;
}

/* prompts */
p {
    font-family: "Montserrat", Arial Narrow, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 6px;
    color: #3b3b3b;
}

/* background */
div.container-index {
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 2px;
    padding-right: 2px;
    width: 640px;
    text-align: center;
    margin: auto;
    border-radius: 6px;
    background-color: #D9EFEB;
}

.input-index {
    /*width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;*/
    font-size: 16px;
    color: #3b3b3b;
    background-color: white;
    font-family: "Montserrat";
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #3b3b3b;
    margin-bottom: 10px;
}

/* Start button */
input.start {
    font-family: "Montserrat";
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #217F6E;
    color: white;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

/* HOVERS */
button:hover {
    background-color: #144C42;
    color: white;
}

label:hover {
    background-color: #144C42;
    color: white;
}

input.start:hover {
    background-color: #144C42;
}
