extends layout

block content
    div(class='container')
      div(class='row')
        div(class='col-md-12')
            h1
            | videoTitle
    
      div(class='row')
        div(class='col-md-12')
            video(id='v')
              source(src='videos/Encounters_Xvid.mp4', type='video/mp4')
              | Your browser does not support the video tag.
            //canvas(id='c' width='360' height='240')
    
      div(class='row')
        div(class='col-md-2')
            button(id='back10')
              | <<
    
        div(class='col-md-2')
            button(id='rewind')
              | <
    
        div(class='col-md-4')
            button(id='playpause')
              | > / ||
    
        div(class='col-md-2')
            button(id='fastforward')
              | >
    
        div(class='col-md-2')
            button(id='forward10')
              | >>
    
      div(class='row')
        div(class='col-md-6')
            input(id='framenumber' type='text')
            button(id='framejump')
                | Jump
    
        div(class='col-md-6')
            button(id='export')
                | Export
      div(class='row')
        div(class='col-md-6')
            input(id='framenumber' type='text')
            button(id='framejump')
                | ObjectId
    
        div(class='col-md-6')


