doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='js/download.js')
    script(src='js/videoframe.min.js')
    script(src='js/canvas.js')
  body
    block content
