{% extends "main.html" %}
{% block head %}
    <title>Biotracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script>
	/*
	 * Check if the csv data file matches the video file before proceeding
	 */
	function validateForm() {
	    var csvUrl = document.forms['fileForm']['csvData'].value;
	    if (csvUrl != '') {
		    var videoUrl = document.forms['fileForm']['video'].value;
		    var videoName = videoUrl.substring(videoUrl.lastIndexOf('\\') + 1);
		    var csvname = csvUrl.substring(csvUrl.lastIndexOf('\\') + 1);
		    if (videoName.split('.')[0] != csvname.split('.')[0]) {
		        alert("The CSV data does not match this video file!");
		        return false;
		    }
	    }
	}
	</script>
{% endblock %}

{% block content %}
	<body>
		<h1>Biotracker</h1>
		<h2>ANALYZING MOVEMENT PATTERNS</h2>
	    <div class="container-index">
	    	<form name="fileForm" enctype="multipart/form-data" action="/uploadFiles" method="post" onsubmit="return validateForm()">
				<p>upload a video to analyze (.mp4)</p>
				<input type="file" name="video" class="input-index" accept=".mp4" required>
				<label for="file">choose a file</label>
				<p>add any associated data here (.csv)</p>
				<input type="file" name="csvData" class="input-index" accept=".csv">
				<label for="file">choose a file</label>
				<input class="start" type="submit" value="START" >
			</form>
	    </div>
	</body>
{% endblock %}
