

.video_navigation {
    background-color: white;
    color: #3b3b3b;
    border: 2px solid #144c42;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Montserrat";
    display: inline-block;
}

.frame {
    padding: 10px;
    border-color: #217F6E;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    height: 25px;
    font-size: 16px;
}

.seek_frame {
    background-color: white;
    color: #3b3b3b;
    border: 2px solid #144C42;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Montserrat";
    display: inline-block;
}

.bottom_button {
    background-color: #217F6E;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Montserrat";
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }
}
